// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyA8hGxZd9Vgs8JfBSYDI_IXKF3PdIQV_ZU",
  authDomain: "webrtc--p2p.firebaseapp.com",
  projectId: "webrtc--p2p",
  storageBucket: "webrtc--p2p.firebasestorage.app",
  messagingSenderId: "861367669934",
  appId: "1:861367669934:web:1b5c8792f11584ac89893f",
  measurementId: "G-9HKFW140VL"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);